.navbar{
    height: 5rem;
    width: 100vw;
    max-width: 75rem;
    margin: 0 auto;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 3;
    background: rgb(30, 30, 30);
}

.logo{
    object-fit: cover;
    height: 5rem;
    width: 5rem;
}

.desktopMenuListItem {
    margin: 1rem;
    cursor: pointer;
}

.desktopMenuListItem:hover{
    color: yellow;
    padding-bottom: 0.5rem;
    border-bottom: 3px solid yellow;
}

.desktopMenuBtn {
    border: none;
    background: white;
    color: black;
    font-weight: 400;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 0.8rem 0 0rem;
    border-radius: 2rem;
    cursor: pointer;
}

.desktopMenuBtn:hover{
    color: black;
    text-decoration: underline;
}

.desktopMenuImg {
    object-fit: cover;
    height: 1.5rem;
    width: 2rem;
    margin: 0.5rem;
}