#intro {
    height: calc(100vh - 4rem);
    width: 100vw;
    max-width: 75rem;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.bg {
    position: absolute;
    top: -1rem;
    right: 0;
    z-index: -1;
    object-fit: cover;
    height: 80vh;
    margin-top: 3rem;
    border-radius: 25%;
    /*background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);*/
}

.introContent {
    height: 100vh;
    width: 100vh;
    padding: 2rem;
    font-size: 3rem;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hello {
    font-size: 1.8rem;
    overflow: hidden;
    /*border-right: .15em solid orange; */
    white-space: nowrap;
    font-weight: 200;
    /*width: 0;
    animation: typing 5s steps(7, end), forwards; */
}

/* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }

.introName {
    color: yellow;
}

.introPara {
    font-size: medium;
    font-weight: 200;
    letter-spacing: 1px;
}

.btn {
    background: white;
    display: flex;
    font-weight: 500;
    font-size: medium;
    align-items: center;
    margin: 1rem 0;
    padding: 0.5rem 0.5rem;
    border-radius: 2rem;
    justify-content: center;
    cursor: pointer;
}

.btn:hover{
    color: black;
    text-decoration: underline;
}

.btnImg {
    object-fit: cover;
    margin: 0 0.25rem;
    height: 1.75rem;
    width: 1.75rem;
}

@media screen and (max-width:840px){
    .bg {
        right: -20vw;
    }

    .introText {
        font-size: 7vw;
    }

    .hello {
        font-size: 3vw;
    }

    .introPara {
        font-size: 3vw;
    }
}

@media screen and (max-width:480px){
    .bg {
        right: -40vw;
    }

}