#Btns {
    width: 100vw;
    max-width: 60%;
    overflow: hidden;
    margin: -1rem auto 1rem;
}

.BtnsDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.linkBtn {
    margin: 0 1rem;
}

.btn {
    padding: 0.5rem 0.7rem;
    font-size: 1rem;
    font-weight: 400;
    border-radius: 2rem;
    background: white;
    cursor: pointer;
}